.top-header {
	background-color: #000;
  	color: #999999;
  	padding-top: 4px;
  	padding-bottom: 0px;
  	margin : 0px 0px 0px 0px;
}

.errorMsg {
	color:red;
}
.successMsg {
	color:blue;
}

.editSection {
	padding: 6px;
}
.formLabel {
	float: left;
	line-height: 35px;
	height: 35px;	
}

.formField {
	margin-left: 10em;
	height: 100%;
	line-height:25px;
}
.formFieldBoxes {
	width : 80%;
}

.blockSection{
	border:solid 1px #000000;
    display:inline-block;
}
.overflowSection {
	overflow-y: scroll;
}
.summarySectionHeight {
	height: 208px;
}
.slotSummaryHeight {
	height:350px;
}