<!-- <link rel="stylesheet" type="text/css" href="resources/css/ManageGarageInfo.css">-->

<div id="top_container" ng-controller="EditGarageController">
  
  <div class="row-fluid">
		<div id="createLevelSection" class="col-md-4 blockSection" ng-controller="createLevelController">

			<div ng-show="levelCreatedSuccesfully" class="successMsg" ng-model="createdLevel">Level {{createdLevel.levelNumber}} created with {{createdLevel.carSlotsCount}} car slots and {{createdLevel.bikeSlotsCount}} bike slots</div><br/>
			<div ng-show="levelCreationFailed" class="errorMsg">Error occured while creating Level Please try again later.</div>
	
			<form id="createLevelForm" method="POST" ng-submit="submit()">
	
				<div class="editSection">
					<div class="formLabel">LevelNumber  </div>
					<div class="formField"><input type="number" id="levelNumber" class="formFieldBoxes" ng-model="levelNumber" name="levelNo" min="1" max="50" step="1" required></div>
				</div>
				<div class="editSection">
					<div class="formLabel">Number of car slots </div> 
					<div class="formField"><input type="number" id="carSlotsCount" class="formFieldBoxes"  ng-model="carSlotsCount" min="0" step="1" required> </div>
				</div>
				<div class="editSection">
					<div class="formLabel">Number of Bike slots </div>
					<div class="formField"><input type="number" id="bikeSlotsCount" class="formFieldBoxes" ng-model="bikeSlotsCount" min="0" step="1" required></div>
				</div>
				<div class="editSection">
					<div class="formLabel"></div>
					<div class="formField"><input type="submit"  class="formFieldBoxes" value="createLevel"></div> <br/>
				</div>
	 
			</form>

		</div>

		<div id="levelSummary" class="col-md-8 blockSection overflowSection summarySectionHeight" ng-controller="levelSummaryController">
		<br/>
		Level Summary<br/>
			<table class="table table-striped">
				<thead>
					<tr>
						<th> LevelNo </th>
						<th> CarSlotsCnt </th>
						<th> BikeSlotsCnt </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="leveldetail in (levelDetails | orderBy:levelNumber)">
						<td>{{leveldetail.levelNumber}} </td>
						<td>{{leveldetail.carSlotsCount}}</td>
						<td>{{leveldetail.bikeSlotsCount}}</td>
					</tr>
				</tbody>		
			</table> <!-- End of Table container -->
		</div> <!-- End of levelSummary Div -->
	
	</div>
	<div class="row-fluid">
		<div id="slotSummary" class="col-md-12 blockSection overflowSection slotSummaryHeight" ng-controller="slotSummaryController">
			<div class="editSection">
						<div class="formLabel"> Enter the Level Number to get slot summary </div>
						<div class="formField"> <input type="number" id="lno" ng-model="lno" min="1" max="50" step="1" ng-Change="updateSlots()"/> </div>
			</div> <br/>
		
			<table class="table table-striped">
				<thead>
					<tr>
						<th> SlotName </th>
						<th> LevelNumber </th>
						<th> VehicleType </th>
						<th> Availability </th>
						<th> DeleteSlot </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="slotdetail in slotDetails">
						<td>{{slotdetail.slotName}} </td>
						<td>{{slotdetail.levelNumber}}</td>
						<td>{{slotdetail.vehicleType}}</td>
						<td>{{slotdetail.availability == true ? "Available" : "Booked"}}</td>
						<td><button type="button" id="deleteSlot" ng-click="deleteSlot(slotdetail.slotId)" ng-show="{{slotdetail.availability}}">Delete Slot</button></td>
					</tr>
				</tbody>
			
			</table>
		
		</div>
	</div>

</div>